<h1>Listing Movies</h1>
<%= form_tag movies_path, :method => :get do %>
    Find a movie: <%= text_field_tag :query %>
    <%= submit_tag :search %>
<% end %>
<div class="CSSTableGenerator">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.description %></td>
        <td id="roles"><% movie.roles.each do |role| -%>
              <%= link_to role.artist.full_name, role.artist %> - <%= role.name %>
              <br/>
        <% end -%>
          </td>
        <td>
          <%= link_to 'Show', movie %>
          <%= link_to 'Edit', edit_movie_path(movie) %>
          <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td>
          <%= image_tag movie.image_url(:thumb).to_s %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Movie', new_movie_path %>
