<p>
  <strong>Title:</strong>
  <%=@movie.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>
<p>
  <strong>Artist</strong>
  <% @movie.roles.each do |role| -%>
      <br /><%= link_to h(role.artist.full_name), role.artist %> - <%= role.name %>
  <% end -%>
</p>
<p>
  <strong>Releases:</strong>
  <% @movie.releases.each do |release| %>
      <br /><%= release %>
  <% end %>
</p>

<p>
  <strong>Poster:</strong>
  <%= image_tag @movie.image_url(:resize).to_s %>
</p>


<% if user_signed_in? %>
    <% unless current_user.interested_in?(@movie) %>
        <%= form_for current_user.interests.build(:movie => @movie) do |f| %>
            <%= f.hidden_field :movie_id %>
            <%= content_tag :button, 'Add this as an interest', :type => 'submit' %>
        <% end %>
    <% else %>
        <p>You have added this movie as an interest</p>
    <% end %>
<% end %>

<br/><br/>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
