<p>
  <strong>Name:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<b>Artist</b>
<% @movie.roles.each do |role| -%>
    <br /><%= link_to h(role.artist.full_name), role.artist %> - <%= role.name %>
<% end -%>
<br/><br/>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
