<%= form_for(@release) do |f| %>
    <% if @release.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

          <ul>
            <% @release.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Select Movie' %><br/>
      <br />
          <%= select_tag 'movie_id', options_for_select(@movies), { :name => "release[movie_id]" }  %>
    </div>
    <div class="field">
      <%= f.label :format %><br>
      <%= f.text_field :format %>
    </div>
    <div class="field">
      <%= f.label :released_on %><br>
      <%= f.date_select :released_on %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
